
#map {
    position: relative;  /* 確保可以相對於地圖容器定位按鈕 */
    display: flex;
    width:50%;
    height:100vh;
}

#locateButton {
    position: absolute;
    background-color: white;
    top: 10px;  /* 上方 */
    left: 60px; /* 左方 */
    z-index: 1000;  /* 確保按鈕在地圖上方 */
}

.legend { 
    background: white; /* 背景顏色 */
    padding: 10px; /* 內邊距 */
    border-radius: 5px; /* 圓角長方形 */
}

.legend span {
    margin-left: 8px; /* 與其左側的元素之間有 8px 的空間 */
    vertical-align: middle; /* 垂直置中 */
    text-align: center; /* 水平置中 */
    line-height: 20px; /* 行高 */
}

@media screen and (max-width: 1291px) {
    #locateButton {
        position: absolute;
        background-color: white;
        top: 10px;  /* 上方 */
        left: 60px; /* 左方 */
        z-index: 1000;  /* 確保按鈕在地圖上方 */
    }
}