DirectorySlash Off
RewriteEngine On

# 全域導向
RewriteCond %{HTTP_HOST} ^(www\.)?(commentspace\.ascdc\.tw|localhost)$
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /home [R=301,L]

# 規則導向
RewriteRule ^detail$ /detail.php [L]
RewriteRule ^search$ /search.php [L]
RewriteRule ^instruction$ /instruction.php [L]
RewriteRule ^team$ /team.php [L]
RewriteRule ^home$ /home.php [L]
RewriteRule ^suggestion$ /suggestion.php [L]
RewriteRule ^feedback$ /feedback.php [L]
RewriteRule ^member/info$ /member/info.php [L]
RewriteRule ^admin/register$ /admin/register.php [L]
RewriteRule ^admin/pull$ /admin/git.php [L]
RewriteRule ^admin/login$ /admin/login.php [L]

# 禁止訪問(所有)
# RewriteRule ^base(/)?(.*)$ /error/404.php [L]

# 禁止訪問(目錄)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^admin(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^base(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^elem(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^error(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^geo(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^handler(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^images(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^member(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^pdf(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^scripts(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^struc(/)?$ /error/404.php [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^styles(/)?$ /error/404.php [L]

#禁止訪問(檔案)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^base/pwd.txt?$ /error/404.php [L]

# 例外導向（需要在匹配所有路徑之前運行）
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /error/404.php [L]
