# Folders
.idea/
.vscode/
__pycache__/
**/ckip/tagger/data/
**/ckip/*/results/

# Files
*.bkp
*.tmp
~$*.*
*develop*.py
*搜尋結果.csv
*project.code-workspace
*DB.php
專案檔案/地圖結果串接/NEW_VERSION/123測是用.php
專案檔案/地圖結果串接/NEW_VERSION/test.html
專案檔案/地圖結果串接/NEW_VERSION/test.html
