*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

header {
  border-bottom: 4px solid #838199;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.wrapper-content{
  box-sizing: border-box;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

.header-content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-group {
  font-size: 35px;
  margin-left: 10px;
}

.Logo {
  width: 35px;
  height: 50px;
}

.Logo-text {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.header-nav {
  width: 680px;
  display: flex;
  justify-content: space-between;
}

.link__text {
  color: #424242;
  text-decoration: none;
  font-size: 18px;
}

.link__text:hover {
  transition: all 0.2s;
  color: black;
}

.wrapper-hambuger{
  display: none;
}

.member {
  display: flex;
  align-items: center;
  width: 162.5px;
  justify-content: flex-end;
}

.member-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media screen and (min-width: 1037px) {
  .link__text:not(:last-child):after {
    content: "";
    border: 0.2px solid #C5C5C5;
    height: 1px;
    margin-left: 41px;
  }
}

@media screen and (max-width: 1037px) {
  .link__text:not(:last-child):after {
    content: "";
    border: 0.2px solid #C5C5C5;
    height: 1px;
    margin-left: 41px;
  }

  .member {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    flex: 1;
  }

  .member-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .wrapper-hambuger {
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10px;
  }

  .cross-button {
    width: 30px;
    height: 3px;
    background-color: #424242;
  }

  .header-nav {
    display: none;
  }

  .offcanvas-ul {
    list-style: none;
    text-align: center;
  }

  .offcanvas__text {
    font-size: large;
    color: #424242;
    text-decoration: none;
    list-style: none;
    line-height: 4;
  }
}

.secondary-content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.title-text{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.search{
  align-items: center;
  justify-content: center;
  display: flex;
}

.search-city{
  width: 200PX;
  position: relative;
  font-size: 16px;
}

.city{
  font-size: 16px;
}

.form-floating>.form-select{
  padding-top: 26px;
  padding-bottom: 10px;
  height: 58px;
  font-size: 16px;
}

.search-keyword{
  width: 350px;
  position: relative;
  margin-left: 30px;
  overflow-x: hidden;
  font-size: 16px;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext{
  padding: 16px  12px;
  height: 58px;
}

.search-button{
  position: relative;
  margin-left: 30px;
  margin-bottom: 15px;
  color: white;
  white-space: nowrap;
  font-size: 16px;
}

#map{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  margin-top: 10px;
}

.legend{
  font-size: 12px;
}

#locateButton{
  font-size: 12px;
}

.tertiary-content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.restaurant-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 60vh;
  gap: 60px;
  overflow-y: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

.restaurant{
  margin-top: 20px;
  width: 288px;
  height: 517px;
}

.card-title{
  font-weight: bold;
  font-size: 20px;
}

.quick-group{
  display: flex;
}

.love-text, .map-link-text, .web-text{
  font-weight: bold;
  font-size: 16px;
  color: #374957;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-right: 15px;
}

.love-img, .map-link-img, .web-img{
  width: 20px;
  margin-right: 3px;
}

.rating{
  color: #AC3535;
  font-weight: bold;
  font-size: 25px;
}

.rating-text{
  margin-left: 5px;
  font-size: 12px;
}

.progress-group-text{
  margin-top: 7px;
  font-size: 13px;
}

.progress-group{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.progress{
  height: 13px;
  margin-bottom: 5px;
}

.restaurant-style, .address{
  font-size: 12.8px;
  margin-top: 10px;
}

.bottom{
  background-color: #485465;
  height: 90px;
  color: white;
  padding: 15px 20px 20px 25px;
  font-size: 14px;  
}

@media (max-width: 1406px) {
  .search{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }

  #map{
    width: 98%;
    height: 30vh;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .restaurant{
    margin-top: 20px;
    width: 288px;
    height: 517px;
    margin-left: auto;
    margin-right: auto;
  }
}