.search-result-button-icon {
  width: 20px;
  margin-right: 3px;
  position: relative;
  top: -2px;
}

a.map-link {
  color: inherit; /* 保留繼承的文字顏色 */
  text-decoration: none; /* 移除底線 */
}

.text-icon {
  width:1em;
  height:1em;
  position: relative;
  margin-right: 5px;
}

.button-text-icon {
  width:1em;
  height:1em;
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.button-down-arrow {
  transform: rotate(90deg);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: -6px;
}