.feedback-page {
  border-bottom-style: solid;  
  border-bottom-color: mediumblue;
}
.feedback-menu {
  border-left-style: solid;
  border-left-color: mediumblue;
}

.primary-conent{
  align-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;;
  min-height: calc(100% - 90px);
}