.form-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-message-popup {
  margin-top: 10px;
  background-color: red;
  padding: 5px;
  padding-inline: 18px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  font-size: 14px;  
}

.form-message {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-h2-title {
  text-align: center;
}

.form-label {
  font-weight: bold;
}

.form-error-message {
color: red;
font-size: 12px;
display: none;
}

.form-error-message-popup {
  color: white;
  font-size: 14px;
  display: none;
}

.form-error-message.active {
display: block;
}

.form-input-popup {
  width: 100%;
  height: 38px;
  padding: 10px;
  padding-right: 0;
  padding-inline-start: 15px;
  padding-inline-end: 40px;
  margin: 10px 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input {
  width: 97%;
  padding: 10px;
  padding-right: 0;
  margin: 10px 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input.error {
  border-color: red;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.form-button:hover {
  background-color: #0056b3;
}

.agree-checkbox {
  position: relative;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.login_area {
  display: flex;
  justify-content: space-around;
}

.divider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin-top: 3px;
}

.divider_text {
  padding: 0 10px;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.checkbox-set {
  display: flex;
  font-size: 16px;
  justify-content: flex-start;
  margin-top: 10px;
}

.toggle-password {
  position: relative;
  right: -315px;
  top: -33px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.text-icon {
  position: relative;
  top: -2px;
  position: relative;
  width: 20px;
  height: 20px;
}

.forget_pwd {
  color: rgb(119, 119, 119);
  margin-left: auto;
  align-self: flex-end;
  cursor: pointer;
  text-align: right;
}

.checkbox-set-text {
  cursor: pointer;
  padding-left: 5px;
}

.signup-button{
  width: 300px;
  margin-top: 10px;
}

.signup-button-disabled{
  width: 300px;
  margin-top: 10px;
  background-color: #d3d3d3; /* 灰色背景 */
  color: #7a7a7a; /* 字體顏色較淡 */
  border: 1px solid #a9a9a9; /* 灰色邊框 */
  cursor: default; /* 滑鼠指標顯示為禁止符號 */
  opacity: 0.6; /* 增加透明度來顯示為停用狀態 */
}

.login-modal{
  width: 390px;
}

.login-modal-body{
  padding: 20px;
}

.signup-explain{
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.slider-bar {
  width:200px;
  margin-left: 5px;
  margin-right: 5px;
}

#signup-environment-value, #signup-product-value, #signup-service-value, #signup-price-value{
  display: inline-block;
  width: 33px;
  text-align: left;
}

.signup-body{
  width: 390px;
  height: 395px;
}

.modal.fade.show {
  opacity: 1; /* 保持模態框顯示時完全不透明 */
  transition: opacity 0.15s linear; /* 控制淡入的時間 */
}

.modal.fade {
  opacity: 1; /* 在顯示的狀態下立即設置為不透明，移除淡出動畫 */
}