*,
*::before,
*::after {
    box-sizing: border-box;
}

.more-info {
  margin-left: 10px;
  top: 1px;
  position: relative;
}

.trans-red-button, .trans-blue-button, .trans-windows-blue-button {
  font-size: 25px;
  transition: color 0.3s ease;
}
.trans-blue-button:hover {
  color: blue;
}
.trans-red-button:hover {
  color: red;
}
.trans-windows-blue-button:hover {
  color: #0078D7;
}


.fi-sr-heart {
  color: red !important;
}

.small-toolbar-button {
  top: 4px !important;
  position: relative;
  margin-right: 3px;
  color: #374957;
  font-size: 1em;
  left: 6px;
}

.small-toolbar-text {
  font-weight: bold;
  font-size: 16px;
  color: #374957;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
  top: 2px;
  position: relative;
  left: 3px;
}

.small-toolbar {
  display: flex;
  left: -5px;
  position: relative;
  top: -3px;
}

.full-store-card {
  width: 288px;
  height: 500px;
  flex: 0 0 auto;
  cursor: pointer;
}

.half-store-card {
  width: 288px;
  height: 390px;
  flex: 0 0 auto;
  cursor: pointer;
}

.card-img-top{
  width: 100%;
  min-height: 214px;
  max-height: 214px;
  object-fit: cover;
}

.store-card-text {
  font-size: 13px;
  margin-top: 10px;
  width: 254px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.left-icon-display {
  padding: 5px 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  display: block;
  position: absolute;
  color: white;
  font-size: 12px;
}

.left-arrow {
  margin-right: 10px;
  position: absolute;
  left: -50px;
}

.right-arrow {
  margin-left: 10px;
  position: absolute;
  right: -50px;
}

.search-result-button-icon {
  width: 20px;
  position: relative;
  top: -2px;
}

a.map-link {
  color: inherit;
  text-decoration: none;
}

.text-icon {
  width:1em;
  height:1em;
  position: relative;
  margin-right: 5px;
}

.button-text-icon {
  width:1em;
  height:1em;
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.button-down-arrow {
  transform: rotate(90deg);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: -6px;
}

.grab-container {
  overflow:-moz-hidden-unscrollable;
  cursor: grab;
  scrollbar-width: none !important;
}

.tooltip {
  --bs-tooltip-font-size: 16px;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-padding-y: 0.5rem;
  --bs-tooltip-padding-x: 1rem;
  --bs-tooltip-max-width: auto;
  --bs-tooltip-border-radius: 0.5rem;
  --bs-tooltip-border-color: transparent;
  --bs-tooltip-border-width: 0;
  --bs-tooltip-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  --bs-tooltip-animation: 0.15s ease;
  --bs-tooltip-arrow-width: 0.8rem;
  --bs-tooltip-arrow-height: 0.4rem;
  --bs-tooltip-arrow-fade: true;
  --bs-tooltip-arrow-fade-amount: 0.1;
  --bs-tooltip-arrow-fade-opacity: 0.25;
  --bs-tooltip-arrow-fade-color: '#000';
}

.tooltip-inner {
  text-align: left;
}

.tooltip-black {
  --bs-tooltip-bg: black;
  --bs-tooltip-color: white;
}
.tooltip-red {
  --bs-tooltip-bg: red;
  --bs-tooltip-color: white;
}
.tooltip-green {
  --bs-tooltip-bg: green;
  --bs-tooltip-color: white;
}
.tooltip-windows-blue {
  --bs-tooltip-bg: #0078D7;
  --bs-tooltip-color: white;
}

.status-img{
  font-size: 0.8em;
  margin-right: 5px;
}

.filter-container{
  width: 788px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.filter-title {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 2px;
  margin-left: 12px;
  margin-right: 8px;
}

.filter-title-distance {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #663399;
  padding-top: 2px;
  margin-left: 12px;
  margin-right: 8px;
}
.filter-title-distance-light {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #9977bb;
  padding-top: 2px;
  margin-left: 12px;
  margin-right: 8px;
}

.filter-title-geo {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #aa5d00;
  padding-top: 2px;
  margin-left: 12px;
  margin-right: 8px;
}
.filter-title-geo-light {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #c69355;
  padding-top: 2px;
  margin-left: 12px;
  margin-right: 8px;
}

.filter-item-distance {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 5px;
  background-color: #663399;
  color: white;
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 13px;
  margin-top: 2px;
  position: relative;
  height: fit-content;
}
.filter-item-distance-light {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 5px;
  background-color: #9977bb;
  color: white;
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 13px;
  margin-top: 2px;
  position: relative;
  height: fit-content;
}

.filter-item-geo {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 5px;
  background-color: #aa5d00;
  color: white;
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 13px;
  margin-top: 2px;
  position: relative;
  height: fit-content;
}
.filter-item-geo-light {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 5px;
  background-color: #c69355;
  color: white;
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 13px;
  margin-top: 2px;
  position: relative;
  height: fit-content;
}

.navigation-input-box {
  width: 100%;
}

.condition-input-box {
  width: 336px;
}

.condition-input-box-title {
  width: 90px;
}

.condition-input-box-main {
  width: 110px;
  max-height:150px;
  overflow-y:auto;
}

.member-menu {
  display: block;
  padding: 10px 0;
}
#member-menu-items {
  display: block;
  margin-left: -5px;
}
#member-menu-items a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
}
#expand-arrow {
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.modal {
  z-index: 999999;
}

.modal-backdrop {
  z-index: 999998;
}

@media (min-width: 1373px) {
  .all-content{
    max-width: 1600px;
    min-height: calc(100% - 90px);
  }
}

@media (min-width: 696px) and (max-width:1372px) {
  .all-content{
    max-width: 1000px;
    min-height: calc(100% - 90px);
  }
}

@media (max-width:695px) {
  .all-content{
    max-width: 1000px;
    min-height: calc(100% - 90px);
  }
}

.tertiary-content{
  min-height: calc(100% - 100px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: auto;
}

.main-content {
  min-height: calc(100% - 160px);
  margin-top: 70px;
}

.secondary-content {
  min-height: calc(100% - 160px);
}

.top-content {
  margin-top: 30px;
}
.normal-content {
  margin-top: 50px;
}

html {
  scroll-padding-top: 100px;
  margin: 0;
  height: 100%;
  user-select:none; /* 禁止選取standard syntax */
  -webkit-user-select:none; /* 禁止for Chrome、Safari */
  -moz-user-select:none;  /* 禁止for Mozilla、Firefox */
}

body {
  margin: 0;
  height: 100%;
  user-select:none; /* 禁止選取standard syntax */
  -webkit-user-select:none; /* 禁止for Chrome、Safari */
  -moz-user-select:none;  /* 禁止for Mozilla、Firefox */
}

.checkbox-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 15px;
}
.checkbox-title:not(:first-child){
  margin-top: 10px;
}

.header-separator {
  width: 100%;
  height: 4px;
  background-color: #9D9ABD;
  border: none;
  position: fixed;
  top: 80px;
  margin: 0;
  border-bottom-style: revert-layer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.signup-progress {
  height:30px;
  width:100%;
  position:relative;
  top:0;
  left:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.signup-progress-bar {
  background-color:gray;
  text-align:left;
  padding-left:13px
}

.checkbox-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}

.page-item {
  border-bottom-width: medium;
}
.page-menu {
  border-left-width: thick;
}

.menu-separator {
  background-color: #c0c0c0;
  height: 2px;
  width: 80%;
  align-self: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotating {
  display: flex;
  animation: rotate 1s cubic-bezier(0.44, 0.17, 0.54, 0.79) infinite;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 1400px){
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }
  
  #user_icon_logo {
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 10vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 10vw;
  }

  #login {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
  }

  #signup {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
      margin-left: 10px;
  }
  
  /* 漢堡圖示 */
  #nav_menu1 {
      display: flex;
  }

  #nav_menu2 {
      display: none; /* 隱藏導航菜單 */
      flex-direction: column;
      position: absolute;
      top: 80px;
      background-color: white;
      width: 250px;
  }

  #nav_menu2 a {
    padding-bottom: 2vh;
    padding-top: 1vh;
    text-align: center;
    font-size: 28px
  }

  .hamburger {
      display: none; /* 隱藏漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
  }
}

@media (min-width: 700px) and (max-width: 1400px){
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }

  #user_icon_logo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 5vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 100px;
  }

  #login {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
  }

  #signup {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
      margin-left: 10px;
  }

  /* 漢堡圖示相關 */
  #nav_menu1 {
      display: none; 
  }
  #nav_menu2 {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: 0;
      background-color: white;
      width: 250px;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 10s ease-out;
  }

  #nav_menu2 a {
      padding-bottom: 2vh;
      padding-top: 1vh;
      text-align: center;
      font-size: 28px;
  }

  #nav_menu2.show {
      display: flex; /* 顯示導航菜單 */
      transform: translateX(0); /* 水平移動 */
  }

  #overlay {
      display: none; /* 隱藏遮罩 */
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  }

  #overlay.show {
      display: block; /* 顯示遮罩 */
  }

  #login2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  #signup2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  .hamburger {
      display: block; /* 顯示漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
      position: fixed;
      right: 5vw;
  }
}

@media (max-width: 699px) {
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }

  #user_icon_logo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 14vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 5vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 15vw;
  }

  /* 漢堡圖示相關 */
  #nav_menu1 {
      display: none;
  }
  #nav_menu2 {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: 0;
      background-color: white;
      width: 250px;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 10s ease-out;
  }

  #overlay {
      display: none; /* 隱藏遮罩 */
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  }

  #overlay.show {
      display: block; /* 顯示遮罩 */
  }

  #nav_menu2.show {
      display: flex; /* 顯示導航菜單 */
      transform: translateX(0); /* 水平移動 */
  }

  #nav_menu2 a {
    padding-bottom: 2vh;
    padding-top: 1vh;
    text-align: center;
    font-size: 28px;
  }

  #login2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  #signup2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  .hamburger {
      display: block; /* 顯示漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
      position: fixed;
      right: 5vw;
  }
}

/* 下拉選單樣式 */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  right: 10vw;
  top: 60px;
  z-index: 9999;
}
.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
.dropdown-menu a:last-child {
  border-bottom: none;
}