*,
*::before,
*::after {
    box-sizing: border-box;
}

.modal {
  z-index: 999999;
}

.modal-backdrop {
  z-index: 999998;
}



html {
  scroll-padding-top: 100px;
  margin: 0;
  height: 100%;
  user-select:none; /* 禁止選取standard syntax */
  -webkit-user-select:none; /* 禁止for Chrome、Safari */
  -moz-user-select:none;  /* 禁止for Mozilla、Firefox */
}

body {
  margin: 0;
  height: 100%;
  user-select:none; /* 禁止選取standard syntax */
  -webkit-user-select:none; /* 禁止for Chrome、Safari */
  -moz-user-select:none;  /* 禁止for Mozilla、Firefox */
}

.no-flow {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.checkbox-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 15px;
}
.checkbox-title:not(:first-child){
  margin-top: 10px;
}

.header-separator {
  width: 100%;
  height: 4px;
  background-color: #9D9ABD;
  border: none;
  position: fixed;
  top: 80px;
  margin: 0;
  border-bottom-style: revert-layer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-progress {
  height:30px;
  width:100%;
  position:relative;
  top:0;
  left:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.signup-progress-bar {
  background-color:gray;
  text-align:left;
  padding-left:13px
}

.checkbox-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.page-item {
  border-bottom-width: medium;
}
.page-menu {
  border-left-width: thick;
}

.menu-separator {
  background-color: #c0c0c0;
  height: 2px;
  width: 80%;
  align-self: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotating {
  display: flex;
  animation: rotate 1s cubic-bezier(0.4, 0.3, 0.5, 0.3) infinite;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 1400px){
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }
  
  #user_icon_logo {
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 10vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 10vw;
  }

  #login {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
  }

  #signup {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
      margin-left: 10px;
  }
  
  /* 漢堡圖示 */
  #nav_menu1 {
      display: flex;
  }

  #nav_menu2 {
      display: none; /* 隱藏導航菜單 */
      flex-direction: column;
      position: absolute;
      top: 80px;
      background-color: white;
      width: 250px;
  }

  #nav_menu2 a {
    padding-bottom: 2vh;
    padding-top: 1vh;
    text-align: center;
    font-size: 28px
  }

  .hamburger {
      display: none; /* 隱藏漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
  }
}

@media (min-width: 700px) and (max-width: 1400px){
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }

  #user_icon_logo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 5vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 100px;
  }

  #login {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
  }

  #signup {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #247cff;
      margin-left: 10px;
  }

  /* 漢堡圖示相關 */
  #nav_menu1 {
      display: none; 
  }
  #nav_menu2 {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      left: 0;
      background-color: white;
      width: 250px;
      height: 100vh;
      transform: translateX(-100%);
      transition: transform 10s ease-out;
  }

  #nav_menu2 a {
      padding-bottom: 2vh;
      padding-top: 1vh;
      text-align: center;
      font-size: 28px;
  }

  #nav_menu2.show {
      display: flex; /* 顯示導航菜單 */
      transform: translateX(0); /* 水平移動 */
  }

  #overlay {
      display: none; /* 隱藏遮罩 */
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  }

  #overlay.show {
      display: block; /* 顯示遮罩 */
  }

  #login2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  #signup2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  .hamburger {
      display: block; /* 顯示漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
      position: fixed;
      right: 5vw;
  }
}

@media (max-width: 699px) {
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFFFFF;
      z-index: 9999;
  }

  .link_text {
      cursor: pointer;
      text-decoration: none; /* 移除底線 */
      color: black;
      font-size: 20px;
  }

  .vertical-line {
      width: 2px; /* 設置寬度 */
      height: 30px; /* 設置高度 */
      background-color: #C5C5C5; /* 設置顏色 */
      margin: 0 40px; /* 設置上下為0，左右為20px的間距 */
  }

  #user_icon {
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10vw;
    cursor: pointer;
    display: none;
  }

  #user_icon_logo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 14vw;
    cursor: pointer;
  }

  #web_name {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 5vw;
      font-size: 30px;
      font-weight: bold;
  }

  #web_name a {
      text-decoration: none; /* 移除底線 */
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
  }

  #web_logo {
      width: auto;
      height: 50px;
  }

  #login_button {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 80px;
      right: 15vw;
  }

  /* 漢堡圖示相關 */
  #nav_menu1 {
      display: none;
  }
  #nav_menu2 {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      left: 0;
      background-color: white;
      width: 250px;
      height: 100vh;
      transform: translateX(-100%);
      transition: transform 10s ease-out;
  }

  #overlay {
      display: none; /* 隱藏遮罩 */
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  }

  #overlay.show {
      display: block; /* 顯示遮罩 */
  }

  #nav_menu2.show {
      display: flex; /* 顯示導航菜單 */
      transform: translateX(0); /* 水平移動 */
  }

  #nav_menu2 a {
    padding-bottom: 2vh;
    padding-top: 1vh;
    text-align: center;
    font-size: 28px;
  }

  #login2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  #signup2 {
      border: none;
      background-color: transparent;
      text-underline-offset: 5px;
      color: #247cff;
      text-align: center;
      font-size: 28px;
      padding: 30px;
  }

  .hamburger {
      display: block; /* 顯示漢堡圖標 */
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
      position: fixed;
      right: 5vw;
  }
}

/* 下拉選單樣式 */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  right: 10vw;
  top: 60px;
  z-index: 9999;
}
.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}
.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
.dropdown-menu a:last-child {
  border-bottom: none;
}