.fixed-top{
    background-color: #485465; 
    color: aliceblue;
    font-weight: bold;
    font-size: x-large;
    height: 7vh;
    text-align: left;
    padding: 0.5em;
    width: 100%;
}
@media (max-width: 600px){
    .head{
        background-color: #485465; 
        color: aliceblue;
        font-weight: bold;
        font-size: x-large;
        height: 1.9em;
        padding: 1%;
        width: 100%;
        text-align: center;
    }
}


.team-icon{
    width: 1.7em;
    height: auto;
    float: left;
    position: relative;
    bottom:  15%;
}

.Gutters-icon{
    width: 1.25em;
    height: auto;
    vertical-align: auto;
    position: relative;
}
@media (max-width: 600px){
    .team-icon{
        width: 2em;
        height: auto;
        position: relative;
    }
}

.header-icon2{
    width: 1.2em;
    height: auto;
    margin-top: 1%;
}
@media (max-width: 600px){
    .header-icon2{
        width: 1.5em;
        height: auto;
        margin-top: 0.625em;
    }
}

.offcanvas-body{
    position: relative;
    width: 100%;
}
@media (max-width: 600px){
    .offcanvas-body{
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.Options{
    margin: 0 auto;
    width: 8em;
    text-align: center;
    font-size: x-large;
    color: white;
    list-style-type: none;
    text-align-last: justify;
    line-height: 5;
}
@media (max-width: 600px){
    .Options{
        margin: auto;
        width: 8em;
        text-align: center;
        font-size: large;
        color: white;
        list-style-type: none;
        text-align-last: justify;
        line-height: 4.5;
    }
}

.Options-icon,.Options2-icon{
    width: 20px;
    margin: 0px 5px 0px 0px;
}

.line{
    border: white 1px solid;
    width: 100%;
    margin: 0 auto;
}

.Options2{
    margin: auto;
    width: 8em;
    text-align: center;
    font-size: x-large;
    color: white;
    list-style-type: none;
    text-align-last: justify;
    line-height: 5;
}
@media (max-width: 600px){
    .Options2{
        margin: auto;
        width: 8em;
        text-align: center;
        font-size: large;
        color: white;
        list-style-type: none;
        text-align-last: justify;
        line-height: 4.5;
    }
}


.standard{
    position: relative;
    width: 70%;
    height: auto;

}

.standard-text{
    display: inline-block;
    font-size: smaller;
    margin-left: 1vw;
    margin-right: 1vw;
}

.text0{
    color: #B45F5F;
}

.text1{
    color: #562B08;
    margin-top: 0.4em;
}

.text2{
    color: #7B8F60;
    margin-top: 0.4em;
}

.text3{
    color: #5053AF;
    margin-top: 0.4em;
}

.text4{
    color: #C19237;
    margin-top: 0.4em;
}

.fixed-bottom{
    height: 10%;
    background-color: #485465;
    padding: 0.9em 0.9em 0.9em 3em;
    color: #EBEBEB;
    font-size: 0.8em;
    line-height: 1.8;
    position: sticky;
    bottom: 0;
}

.revise{
    width: 1em;
    position: relative;
    margin-top: -10px;
}

.keywords-tag{
    border: 2px solid #d9d9d9;
    width: 5em;
    height: 2em;
    text-align: center;
    line-height: 1.9;
    border-radius: 15px;
    color: #383838;
}

.standard-button{
    position: relative;
    display: flex;
    font-size: smaller;
    flex-direction: column;   /* 将子元素排列为垂直列 */
}
