html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background_galaxy.jpg'); /* 背景圖片 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

/* 大螢幕（例如桌面電腦） */
@media (min-width: 1600px){
    .login-container {
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .right-side {
        margin-left: 5vw;
        position: relative;
    }

    .title {
        display: flex;
        justify-content: center;
        font-size: 72px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    #container_logo {
        width: 25vw;
        height: auto;
    }

    #mail_icon {
        width: 60px;
        height: 60px;
    }

    #password_icon {
        width: 60px;
        height: 60px;
    }

    #hide_password_icon {
        position: absolute;
        right: 20px;
        width: 48px;
        height: 48px;
        cursor: pointer;
    }

    #remember {
        width: 36px;
        height: 36px;
        margin-right: 15px;
    }

    .remember_container {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-size: 30px;
    }

    .login_area {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .google_button {
        margin-right: auto;
    }

    #google_icon {
        width: 48px;
        height: 48px;
        margin-right: 15px;
    }

    #sign_up_button {
        margin-left: auto;
    }

    .agree {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15vw;
        height: 70px;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    #log_in_button {
        width: 10vw;
        margin-top: 5px;
        margin-left: auto;
    }

    .forget_pwd {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        font-size: 28px;
    }

    #email_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 30px;
    }

    #password_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 30px;
    }

    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        background: #D9D9D9;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
    }

    /* 分隔線 */
    .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #000; /* 文字顏色 */
        margin-top: 15px;
        font-size: 30px;
        font-weight: bold;
    }

    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000; /* 橫線顏色和粗細 */
    }

    .divider::before {
        margin-right: .5em;
    }

    .divider::after {
        margin-left: .5em;
    }

    .divider span {
        white-space: nowrap; /* 確保文字不會換行 */
    }
}

/* 中等螢幕（筆記型電腦） */
@media (min-width: 1025px) and (max-width: 1599px) {
    .login-container {
        width: 60%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .right-side {
        margin-left: 5vw;
        position: relative;
    }

    .title {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #container_logo {
        width: 20vw;
        height: auto;
    }

    #mail_icon {
        width: 30px;
        height: 30px;
    }

    #password_icon {
        width: 30px;
        height: 30px;
    }

    #hide_password_icon {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .remember_container {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .login_area {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .google_button {
        margin-right: auto;
    }

    #google_icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }

    #sign_up_button {
        margin-left: auto;
    }

    #remember {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .agree {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-top: 15px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        height: 40px;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    #log_in_button {
        width: 7vw;
        margin-left: auto;
    }

    .forget_pwd {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    #email_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 1.25rem;
    }

    #password_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 1.25rem;
    }

    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        background: #D9D9D9;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
    }

    /* 分隔線 */
    .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #000; /* 文字顏色 */
        margin-bottom: 10px;
        font-weight: bold;
        margin-top: 10px;
    }

    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000; /* 橫線顏色和粗細 */
    }

    .divider::before {
        margin-right: .5em;
    }

    .divider::after {
        margin-left: .5em;
    }

    .divider span {
        white-space: nowrap; /* 確保文字不會換行 */
    }
}

/* 中等螢幕（平板電腦） */
@media (min-width: 768px) and (max-width: 1024px) {
    .login-container {
        width: 60%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
    }
    
    #container_logo {
        margin-top: 5%;
        width: 40%;
        height: auto;
    }

    .title {
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    #mail_icon {
        width: 36px;
        height: 36px;
    }
    
    #password_icon {
        width: 36px;
        height: 36px;
    }
    
    #hide_password_icon {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 10px;
        cursor: pointer;
    }
    
    #remember {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    #remember_text {
        font-size: 20px;
    }

    .remember_container {
        display: flex;
        align-items: center;
        margin-top: 1%;
    }
    
    .login_area {
        margin-top: 5px;
        position: relative;
    }
    
    .google_button {
        width: 100%;
        margin-top: 1%;
    }
    
    #google_icon {
        width: 36px;
        height: 36px;
        margin-right: 5px;
    }
    
    #sign_up_button {
        width: 100%;
        margin-top: 3%;
    }
    
    .agree {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 3%;
    }
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        height: 40px;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }
    
    #log_in_button {
        width: 40%;
        margin-top: 2%;
        margin-left: auto;
    }
    
    .forget_pwd {
        margin-top: 1%;
        margin-bottom: 1%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        font-size: 20px;
    }
    
    #email_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 20px;
    }
    
    #password_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 20px;
    }
    
    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        background: #D9D9D9;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 12px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
    }
    
    /* 分隔線 */
    .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #000; /* 文字顏色 */
        margin-top: 3%;
        margin-bottom: 3%;
        font-weight: bold;
    }
    
    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000; /* 橫線顏色和粗細 */
    }
    
    .divider::before {
        margin-right: .5em;
    }
    
    .divider::after {
        margin-left: .5em;
    }
    
    .divider span {
        white-space: nowrap; /* 確保文字不會換行 */
    }
}

/* 小螢幕（手機） */
@media (max-width: 767px){
    .login-container {
        width: 60%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
    }
    
    #container_logo {
        margin-top: 5%;
        width: 50%;
        height: auto;
    }

    .title {
        display: flex;
        justify-content: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    #mail_icon {
        width: 24px;
        height: 24px;
    }
    
    #password_icon {
        width: 24px;
        height: 24px;
    }
    
    #hide_password_icon {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 10px;
        cursor: pointer;
    }
    
    .remember_container {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .login_area {
        margin-bottom: 15px;
        position: relative;
    }
    
    .google_button {
        width: 100%;
        margin-bottom: 15px;
    }
    
    #google_icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    
    #sign_up_button {
        width: 100%;
    }
    
    .agree {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: bold;
    }
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        height: 40px;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    
    #log_in_button {
        width: 40%;
        margin-left: auto;
    }
    
    .forget_pwd {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        font-size: 14px;
    }
    
    #email_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 14px;
    }
    
    #password_input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 14px;
    }
    
    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        background: #D9D9D9;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 8px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
    }
    
    /* 分隔線 */
    .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #000; /* 文字顏色 */
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000; /* 橫線顏色和粗細 */
    }
    
    .divider::before {
        margin-right: .5em;
    }
    
    .divider::after {
        margin-left: .5em;
    }
    
    .divider span {
        white-space: nowrap; /* 確保文字不會換行 */
    }
}