*,
*::before,
*::after {
    box-sizing: border-box;
}

.home-page {
  border-bottom-style: solid;  
  border-bottom-color: mediumblue;
}
.home-menu {
  border-left-style: solid;
  border-left-color: mediumblue;
}

body{
  padding-top: 90px;
}

p {
  text-align: center;
}

@media (min-width: 1373px){

  .all-content{
    max-width: 1600px;
    min-height: calc(100% - 100px);
    margin-bottom: 10px;
  }

  .search{
    align-items: center;
    padding-top: 30px;
    justify-content: flex-start;
    display: flex;
  }

  .search-city{
    width: 200px;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
    display: none;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }

  .city{
    font-size: 16px;
  }

  .filter-button{
    position: relative;
    margin-left: 30px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    background-color: #919ca5;
    border: 1px solid #919ca5;
  }

  .modal {
    z-index: 10510; /* 確保比 header 更高 */
  }

  .modal-backdrop {
    z-index: 10500; /* backdrop 也要设置更高 */
  }

  .checkbox-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .checkbox-title:not(:first-child){
    margin-top: 5px;
  }

  .input-group{
    width: 200px;
  }

  .checkbox-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); /* 自動適應列數 */
  }

  .search-keyword{
    width: 500px;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
  }

  .form-floating>.form-control, .form-floating>.form-control-plaintext{
    padding: 16px  12px;
    height: 58px;
  }

  .search-button{
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
  }

  .filter-container{
    width: 700px;
    margin-top: 10px;
    background-color: #d9dfe4;
    border-radius: 5px;
    display: flex;
    display: none;
  }

  .filter-result{
    max-width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .filter-title{
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    color: rgb(109, 139, 219);
  }

  .condition{
    margin: 5px;
    padding: 5px;
    border: 2px solid #b0c4d6;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
  }

  #map{
    width: 700px;
    height: 65vh;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 3px;
  }

  .tertiary-text{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px
  }

  .title-line{
    max-width: 600px;
    display: flex;
    margin: auto;
    height: 4px;
    background-color: #6C6B71;
    border-radius: 10px;
  }

  .store{
    margin-top: 10px;
    padding: 10px;
    height: 65vh;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .store-body{
    background-color: ghostwhite;
    border-radius: 10px;
    min-height: 130px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .store-body:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影 */
  }

  .store-img-group{
    padding-left: 0;
  }

  .store-img{
    width: 100%;
    height: 149px;
    object-fit: cover;
    border-radius: 3px;
  }

  .store-right{
    margin-left: 3px;
    margin-bottom: 3px;
    padding-left: 0;
  }

  .distance-name-display{
    display: flex;
    gap: 5px;
  }

  .distance{
    padding: 3px 7px;
    margin: 10px 0;
    color: #4b4b4b;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #8394a1;
    white-space: nowrap;
    font-weight: bold;
  }

  .store-name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制為1行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
  }

  .rating{
    color: #AC3535;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .rating-text{
    font-size: 12px;
  }

  .restaurant-style, .address{
    font-size: 12.8px;
    margin-top: 10px;
  }

  .progress-group-text{
    margin-top: 7px;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .progress-score{
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    min-width: 50px;
  }

  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 3px;
  }

  .progress{
    height: 12px;
    margin-bottom: 5px;
    flex-grow: 1;
    min-width: 40px;
  }

  .quick-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .love-text, .map-link-text, .web-text{
    font-weight: bold;
    font-size: 16px;
    color: #374957;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
  }

  .love-img, .map-link-img, .web-img{
    width: 20px;
    margin-right: 3px;
  }
}

@media (min-width: 696px) and (max-width:1372px){

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    display: flex;
    animation: rotate 1s cubic-bezier(0.4, 0.3, 0.5, 0.3) infinite;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .all-content{
    max-width: 1000px;
    min-height: calc(100% - 90px);
  }

  .search{
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
    justify-content: center;
    display: flex;
  }

  .search-city{
    width: 200px;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
    display: none;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }

  .city{
    font-size: 16px;
  }

  .filter-button{
    position: relative;
    margin-left: 30px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    background-color: #919ca5;
    border: 1px solid #919ca5;
  }

  .modal {
    z-index: 10510; /* 確保比 header 更高 */
  }

  .modal-backdrop {
    z-index: 10500; /* backdrop 也要设置更高 */
  }

  .checkbox-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .checkbox-title:not(:first-child){
    margin-top: 5px;
  }

  .input-group{
    width: 200px;
  }

  .checkbox-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); /* 自動適應列數 */
  }

  .search-keyword{
    width: 500px;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
  }

  .form-floating>.form-control, .form-floating>.form-control-plaintext{
    padding: 16px  12px;
    height: 58px;
  }

  .search-button{
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
  }

  .filter-container{
    width: 700px;
    margin-top: 10px;
    background-color: #d9dfe4;
    border-radius: 5px;
    display: flex;
    display: none;
  }

  .filter-result{
    max-width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .filter-title{
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    color: rgb(109, 139, 219);
  }

  .condition{
    margin: 5px;
    padding: 5px;
    border: 2px solid #b0c4d6;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
  }

  #map{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    margin-top: 5px;
  }

  .content-row{
    flex-direction: column;
  }

  .tertiary-text{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px
  }

  .title-line{
    max-width: 600px;
    display: flex;
    margin: auto;
    height: 4px;
    background-color: #6C6B71;
    border-radius: 10px;
  }

  .store{
    margin-top: 10px;
    padding-right: 5px;
  }

  .store-body{
    background-color: ghostwhite;
    border-radius: 10px;
    min-height: 140px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .store-body:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影 */
  }

  .store-img-group{
    padding-left: 0;
    width: 200px;
  }

  .store-img{
    width: 100%;
    height: 152px;
    object-fit: cover;
    border-radius: 3px;
  }

  .store-right{
    margin-left: 3px;
    margin-bottom: 3px;
    padding-left: 0;
  }

  .distance-name-display{
    display: flex;
    gap: 5px;
  }

  .distance{
    padding: 3px 7px;
    margin: 10px 0;
    color: #4b4b4b;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #8394a1;
    white-space: nowrap;
    font-weight: bold;
  }

  .store-name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制為1行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
  }

  .rating{
    color: #AC3535;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .rating-text{
    font-size: 12px;
  }

  .restaurant-style, .address{
    font-size: 12.8px;
    margin-top: 10px;
  }

  .progress-group-text{
    margin-top: 7px;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .progress-score{
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    width: 50px;
  }

  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 3px;
  }

  .progress{
    height: 12px;
    margin-bottom: 5px;
    flex-grow: 1;
    min-width: 40px;
  }

  .quick-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .love-text, .map-link-text, .web-text{
    font-weight: bold;
    font-size: 16px;
    color: #374957;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
  }

  .love-img, .map-link-img, .web-img{
    width: 20px;
    margin-right: 3px;
  }
}

@media (max-width:695px){

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    display: flex;
    animation: rotate 1s cubic-bezier(0.4, 0.3, 0.5, 0.3) infinite;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .all-content{
    max-width: 1000px;
    min-height: calc(100% - 90px);
  }

  .search{
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
    justify-content: center;
    display: flex;
  }

  .search-city{
    width: 200px;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
    display: none;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }

  .city{
    font-size: 16px;
  }

  .filter-button{
    position: relative;
    margin-left: 30px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    background-color: #919ca5;
    border: 1px solid #919ca5;
  }

  .modal {
    z-index: 10510; /* 確保比 header 更高 */
  }

  .modal-backdrop {
    z-index: 10500; /* backdrop 也要设置更高 */
  }

  .checkbox-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .checkbox-title:not(:first-child){
    margin-top: 5px;
  }

  .input-group{
    width: 200px;
  }

  .checkbox-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); /* 自動適應列數 */
  }

  .search-keyword{
    width: 500px;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
  }

  .form-floating>.form-control, .form-floating>.form-control-plaintext{
    padding: 16px  12px;
    height: 58px;
  }

  .search-button{
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    color: white;
    white-space: nowrap;
    font-size: 16px;
  }

  .filter-container{
    width: 700px;
    margin-top: 10px;
    background-color: #d9dfe4;
    border-radius: 5px;
    display: flex;
    display: none;
  }

  .filter-result{
    max-width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .filter-title{
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    color: rgb(109, 139, 219);
  }

  .condition{
    margin: 5px;
    padding: 5px;
    border: 2px solid #b0c4d6;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
  }

  #map{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    margin-top: 5px;
  }

  .content-row{
    flex-direction: column;
  }

  .tertiary-text{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px
  }

  .title-line{
    max-width: 600px;
    display: flex;
    margin: auto;
    height: 4px;
    background-color: #6C6B71;
    border-radius: 10px;
  }
  .store{
    margin-top: 10px;
    padding-right: 5px;
  }

  .store-body{
    background-color: ghostwhite;
    border-radius: 10px;
    min-height: 140px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .store-body:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影 */
  }

  .store-img-group{
    width: 0;
  }

  .store-img{
    display: none;
    width: 0;
  }

  .store-right{
    margin-left: 5px;
    margin-bottom: 3px;
    padding-left: 0;
  }

  .distance-name-display{
    display: flex;
    gap: 5px;
  }

  .distance{
    padding: 3px 7px;
    margin: 10px 0;
    color: #4b4b4b;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #8394a1;
    white-space: nowrap;
    font-weight: bold;
  }

  .store-name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制為1行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
  }

  .rating{
    color: #AC3535;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .rating-text{
    font-size: 12px;
  }

  .restaurant-style, .address{
    font-size: 12.8px;
    margin-top: 10px;
  }

  .progress-group-text{
    margin-top: 7px;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .progress-score{
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    width: 50px;
  }

  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 3px;
  }

  .progress{
    height: 12px;
    margin-bottom: 5px;
    flex-grow: 1;
    min-width: 40px;
  }

  .quick-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .love-text, .map-link-text, .web-text{
    display: none;
  }

  .love-img, .map-link-img, .web-img{
    width: 20px;
    margin-right: 3px;
  }
}