*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

header {
  border-bottom: 4px solid #838199;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.wrapper-content{
  box-sizing: border-box;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

.header-content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-group {
  font-size: 35px;
  margin-left: 10px;
}

.Logo {
  width: 35px;
  height: 50px;
}

.Logo-text {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.header-nav {
  width: 680px;
  display: flex;
  justify-content: space-between;
}

.link__text {
  color: #424242;
  text-decoration: none;
  font-size: 18px;
}

.link__text:hover {
  transition: all 0.2s;
  color: black;
}

.wrapper-hambuger{
  display: none;
}

.member {
  display: flex;
  align-items: center;
  width: 162.5px;
  justify-content: flex-end;
}

.member-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media screen and (min-width: 1037px) {
  .link__text:not(:last-child):after {
    content: "";
    border: 0.2px solid #C5C5C5;
    height: 1px;
    margin-left: 41px;
  }
}

@media screen and (max-width: 1037px) {
  .member {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    flex: 1;
  }

  .member-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .wrapper-hambuger {
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10px;
  }

  .cross-button {
    width: 30px;
    height: 3px;
    background-color: #424242;
  }

  .header-nav {
    display: none;
  }

  .offcanvas-ul {
    list-style: none;
    text-align: center;
  }

  .offcanvas__text {
    font-size: large;
    color: #424242;
    text-decoration: none;
    list-style: none;
    line-height: 4;
  }
}

/*大螢幕尺寸*/
@media (min-width: 833px) {
  .section-content{
    box-sizing: border-box;
    width: 98%;
    max-width: 1540px;
    margin: 0 auto;
  }

  .primary-content{
    margin-top: 35px;
    box-sizing: border-box;
  }

  .store-title{
    font-weight: bold;
    font-size: 45px;
  }

  .love-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .type-rating-status-group{
    margin-top: 5px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px; /* 設置元素之間的間距 */
  }

  .store-type{
    background-color: #A3A3A3;
    min-width: 90.6px;
    height: 42.1px;
    text-align: center;
    padding: 7px 7px 7px 7px;
    color: white;
    border-radius: 10px;
    font-size: 19px;
  }

  .store-type-img{
    color: white;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 3px;
  }

  .rating{
    font-size: 38.4px;
    color: #AC3535;
    font-weight: bold;
    margin-top: 4px;
    font-size: 40px;
  }

  .rating-text{
    font-size: 20px;
    color: #AC3535;
    margin-top: 10px;
    font-weight: bold;
  }

  .popover-header{
    font-size: 16px;
  }

  .popover-body{
    font-size: 14px;
    text-align: end;
  }
  
  hr{
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .other-store-rating{
    color: #A3A3A3;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .other-store{
    max-width: 792.5px;
    max-height: 95px;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    padding: 7px 10px 5px 15px;
  }

  .other-store-display{
    display: flex;
    flex-direction: row;
  }

  .other-store-group{
    display: flex;
    align-items: flex-start;  
    text-decoration-line: none;
  }

  .store-name{
    font-size: 16px;
    color: #374957;
  }

  .other-rating{
    color: #AC3535;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .other-map{
    margin: 0;
  }

  .address, .address-img{
    color: #374957;
    font-size: 16px;
    text-decoration: none;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .collect{
    color: #374957;
    font-size: 16px;
    text-align: right;
    width: 40px;
  }

  .status{
    color: #2C901B;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
  }

  .status-img{
    font-size: 17px;
    margin-right: 5px;
  }

  .update{
    margin-top: 7px;
    color: #2E2E2E;
    font-size: 17px;
    white-space: nowrap;
  }

  .love-img{
    width: 35px;
  }

  .introduction{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #343333;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
  }

  .secondary-content{
    margin-top: 10px;
  }

  .first-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  #map{
    width: 100%;
    height: 215px;
    border-radius: 6.83px;
  }

  .legend, .leaflet-right, .leaflet-left, #locateButton{
    display: none;
  }

  .title-group{
    display: flex;
    align-items: flex-end;
  }

  .group-title-img{
    width: 40px;
    height: 35px;
    font-size: 32px;
    color: #848484;
  }

  .group-title{
    font-weight: bold;
    white-space: nowrap;
    font-size: 25px;
    margin: 0;
  }

  .second-row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .anaysis{
    margin-top: 20px;
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 352px;
    border-radius: 10px;
    padding: 10px 35px 15px 30px;
    white-space: nowrap;
  }

  .progress-group-text{
    margin-top: 25px;
    font-size: 16px;
  }

  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
  }

  .progress{
    height: 20px;
  }

  .service{
    margin-top: 20px;
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 352px;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }

  .service-item-group{
    margin-top: 15px;
    overflow: scroll;
    overflow-x: hidden;
    height: 198px;
  }

  .service-group{
    color: #586066;
  }

  .item-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 自動適應列數 */
    gap: 5px; 
  }

  .service-title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
  }

  .service-item{
    display: flex;
  }

  .item-img{
    color: #374957;
    margin-right: 5px;
    font-size: 16px;
  }

  .item-text{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }

  .store-introduction{
    margin-top: 20px;
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }

  .store-introduction-group{
    margin-top: 15px;
    list-style: none;
  }

  .introduction-title{
    font-weight: bold;
    font-size: 18px;
  }

  .introduction-title::before {
    content: '▪'; 
    margin-right: 9px; 
  }

  .introduction-item{
    list-style: none;
    text-indent: 16px;
    color: #404040;
    white-space: wrap;
    font-size: 16px;
    text-underline-offset: 3px;
  }

  .tertiary-content{
    margin-top: 30px;
  }

  .comment-title{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sample-title{
    margin: 0;
    font-size: 15px;
  }

  .sample-group{
    background-color: #F9F9F9;
    border-color: #A3A3A3;
    white-space: nowrap;
  }

  .sample-button{
    background-color: #F9F9F9;
    color: black;
    border-color: #A3A3A3;
    font-size: 16px;
  }

  .custom-tooltip1{
    --bs-tooltip-bg: #A3A3A3;
    --bs-tooltip-color: white;
    --bs-tooltip-font-size: 16px;
  }

  .question{
    padding: 6px;
  }

  .question-img{
    color: #6d6d6d;
    font-size: 18px;
  }

  .input-group-text, .form-select{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .filter-button{
    font-size: 16px;
    width: 170px;
    height: 45px;
    margin: 0;
  }

  .fi-sr-filter-list{
    padding-top: 5px;
    color: #6d6d6d;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }

  .dropdown-item{
    font-size: 16px;
  }

  .keyword-title{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    gap: 28px;
  }

  .keyword-title-text{
    margin: 0;
    color: #5A5A5A;
    font-weight: bold;
    font-size: 24px;
  }

  .group-gb{
    display: flex;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .good-side{
    background-color: #f1fff5;
  }

  .bad-side{
    background-color: #fff3f3;
  }

  .neutral-side{
    background-color: #fefbf2f5;
  } 

  .middle-side{
    background-color: #f8f8ff;
  }

  .title-gb{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #5A5A5A;
    width: 55px;
  }

  .keyword-arrow{
    color: #5A5A5A;
    font-size: 23px;
    margin-top: 3px;
  }

  .group-keyword {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
  }

  .comment-good, .comment-bad, .comment-neutral, .comment-middle {
    border: 2px solid;
    min-width: 80px;
    height: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    white-space: nowrap;
  }

  .comment-good {
    border-color: #5FA74D;
    color: #5FA74D;
  }

  .comment-bad {
    border-color: #BC4763;
    color: #BC4763;
  }

  .comment-neutral{
    border-color: #ad894f;
    color: #ad894f;
  }

  .comment-middle{
    border-color: #51519b;
    color: #51519b;
  }

  .sort-button{
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: 0px 0px 8px;
  }

  .fi-sr-sort-amount-down{
    padding-top: 5px;
    color: #6d6d6d;
  }
  
  .comment-group{
    margin-top: 10px;
    max-height: 530px;
    overflow-y: scroll;
    padding-right: 5px;
  }

  .comment-item{
    background-color: #F9F9F9;
    padding: 15px 10px 13px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .comment-information{
    display: flex;
    align-items: flex-start;
  }

  .avatar{
    width: 25px;
  }

  .star-group{
    margin-left: 10px;
  }

  .star{
    width: 15px;
  }

  .time{
    font-size: 14px;
    margin-top: 4px;
    margin-left: 10px;
  }

  .comment-text{
    font-weight: bold;
    margin: 0;
    font-size: 16px;
  }

  .fourth-content{
    margin-top: 30px;
  }

  .question-2{
    padding: 8px 6px 0px 6px;
    margin-left: 3px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .group-card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 55px;
    margin-top: 20px;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-card::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }

  .carousel-arrow{
    font-size: 25px;
    color: #8b8686;
    margin-top: 20px;
  }

  .carousel-arrow.hidden {
    display: none; 
  }

  .left-arrow {
    margin-right: 10px;
  }
  
  .right-arrow {
    margin-left: 10px;
  }

  .card {
    flex: 0 0 auto; /* 確保卡片不縮放 */
    width: 208px;
  }

  .card-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .card-body{
    height: 36.8px;
    padding: 5px 0px 5px 0px;
  }

  .card-text{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #2E2E2E;
    text-decoration-line: none;
  }

  .fifth-content{
    margin-top: 30px;
  }

  .carousel-container-tag{
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .carousel-arrow-tag{
    font-size: 20px;
    color: #8b8686;
    margin-top: 27px;
  }

  .carousel-arrow-tag.hidden {
    display: none; 
  }

  .left-arrow-2 {
    margin-right: 10px;
  }
  
  .right-arrow-2 {
    margin-left: 10px;
  }

  .tag-group{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    gap: 23px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-tag::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }

  .tag{
    min-width: 131.2px;
    height: 38.4px;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto; /* 確保卡片不縮放 */
  }

  .tag-text{
    color: #383838;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-decoration-line: none;
  }

  .tag-img{
    margin-top: 2px;
    margin-right: 3px;
    color: #374957;
    font-size: 16px;
  }

  .bottom{
    background-color: #485465;
    height: 90px;
    color: white;
    padding: 15px 20px 20px 25px;
    font-size: 14px;  
  }
}


/*中尺寸顯示*/
@media (min-width: 737px) and (max-width: 832px) {
  .section-content{
    box-sizing: border-box;
    width: 98%;
    max-width: 1540px;
    margin: 0 auto;
  }

  .primary-content{
    margin-top: 10px;
    box-sizing: border-box;
  }

  .store-title{
    font-weight: bold;
    font-size: 30px;
  }

  .love-group{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .type-rating-status-group{
    margin-top: 5px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 15px; 
  }

  .store-type{
    background-color: #A3A3A3;
    min-width: 90.6px;
    text-align: center;
    padding: 7px 7px 7px 7px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
  }

  .store-type-img{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  
  .rating{
    font-size: 38.4px;
    color: #AC3535;
    font-weight: bold;
    margin-top: 4px;
    font-size: 25px;
  }
  
  .rating-text{
    font-size: 14px;
    color: #AC3535;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .popover-header{
    font-size: 14px;
  }
  
  .popover-body{
    font-size: 14px;
    text-align: end;
  }

  hr{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .other-store-rating{
    color: #A3A3A3;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .other-store{
    max-height: 80px;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    padding: 7px 10px 5px 15px;
  }

  .other-store-display{
    display: flex;
    flex-direction: row;
  }

  .other-store-group{
    display: flex;
    align-items: baseline;  
    text-decoration-line: none;
  }

  .store-name{
    font-size: 14px;
    color: #374957;
  }

  .other-rating{
    color: #AC3535;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .other-map{
    margin: 0;
  }

  .address, .address-img{
    color: #374957;
    font-size: 14px;
    text-decoration: none;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .collect{
    color: #374957;
    font-size: 14px;
    text-align: right;
    width: 40px;
  }
  
  .status{
    color: #2C901B;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  
  .status-img{
    font-size: 14px;
    margin-right: 5px;
  }
  
  .update{
    margin-top: 7px;
    color: #2E2E2E;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .love-img{
    width: 26px;
  }
  
  .introduction{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #343333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
  }
  
  .secondary-content{
    margin-top: 10px;
  }
  
  .first-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  
  #map{
    width: 100%;
    height: 215px;
    border-radius: 6.83px;
  }
  
  .legend, .leaflet-right, .leaflet-left, #locateButton{
    display: none;
  }
  
  .title-group{
    display: flex;
    align-items: center;
  }
  
  .group-title-img{
    width: 40px;
    height: 35px;
    font-size: 29px;
    color: #848484;
  }
  
  .group-title{
    font-weight: bold;
    white-space: nowrap;
    font-size: 23px;
    margin: 0;
  }
  
  .second-row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .anaysis{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 352px;
    border-radius: 10px;
    padding: 10px 35px 15px 30px;
    white-space: nowrap;
  }
  
  .progress-group-text{
    margin-top: 15px;
    font-size: 16px;
  }
  
  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .progress{
    height: 20px;
  }
  
  .service{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 352px;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .service-item-group{
    margin-top: 8px;
    overflow: scroll;
    overflow-x: hidden;
    height: 198px;
  }
  
  .service-group{
    color: #586066;
  }
  
  .item-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 自動適應列數 */
    gap: 5px; 
  }
  
  .service-title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .service-item{
    display: flex;
  }
  
  .item-img{
    color: #374957;
    margin-right: 5px;
    font-size: 16px;
  }
  
  .item-text{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
  
  .store-introduction{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .store-introduction-group{
    margin-top: 15px;
    list-style: none;
  }
  
  .introduction-title{
    font-weight: bold;
    font-size: 18px;
  }
  
  .introduction-title::before {
    content: '▪'; 
    margin-right: 9px; 
  }
  
  .introduction-item{
    list-style: none;
    text-indent: 16px;
    color: #404040;
    white-space: wrap;
    font-size: 16px;
  }
  
  .tertiary-content{
    margin-top: 30px;
  }
  
  .comment-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .sample-group{
    background-color: #F9F9F9;
    border-color: #A3A3A3;
    white-space: nowrap;
  }
  
  .sample-button{
    background-color: #F9F9F9;
    color: black;
    border-color: #A3A3A3;
    font-size: 16px;
  }
  
  .custom-tooltip1{
    --bs-tooltip-bg: #A3A3A3;
    --bs-tooltip-color: white;
    --bs-tooltip-font-size: 16px;
  }
  
  .question{
    padding: 6px;
  }

  .question-img{
    color: #6d6d6d;
    font-size: 18px;
  }

  .input-group-text, .form-select{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .filter-button{
    font-size: 16px;
    width: 170px;
    height: 45px;
    margin: 0;
  }

  .fi-sr-filter-list{
    padding-top: 5px;
    color: #6d6d6d;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }
  
  .dropdown-item{
    font-size: 16px;
  }
  
  .keyword-title{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
    gap: 28px;
  }
  
  .keyword-title-text{
    margin: 0;
    color: #5A5A5A;
    font-weight: bold;
    font-size: 20px;
  }
  
  .group-gb{
    display: flex;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .good-side{
    background-color: #f1fff5;
  }
  
  .bad-side{
    background-color: #fff3f3;
  }

  .neutral-side{
    background-color: #fefbf2f5;
  } 

  .middle-side{
    background-color: #f8f8ff;
  }
  
  .title-gb{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #5A5A5A;
    width: 55px;
  }
  
  .keyword-arrow{
    color: #5A5A5A;
    font-size: 20px;
    margin-top: 3px;
  }
  
  .group-keyword {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
  }
  
  .comment-good, .comment-bad, .comment-neutral, .comment-middle {
    border: 2px solid;
    min-width: 75px;
    height: 33px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    white-space: nowrap;
  }
  
  .comment-good {
    border-color: #5FA74D;
    color: #5FA74D;
  }
  
  .comment-bad {
    border-color: #BC4763;
    color: #BC4763;
  }
  
  .comment-neutral{
    border-color: #ad894f;
    color: #ad894f;
  }

  .comment-middle{
    border-color: #51519b;
    color: #51519b;
  }

  .sort-button{
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: 0px 0px 8px;
  }

  .fi-sr-sort-amount-down{
    padding-top: 5px;
    color: #6d6d6d;
  }
  
  .comment-group{
    margin-top: 5px;
    max-height: 530px;
    overflow-y: scroll;
    padding-right: 5px;
  }
  
  .comment-item{
    background-color: #F9F9F9;
    padding: 10px 10px 13px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .comment-information{
    display: flex;
    align-items: flex-start;
  }
  
  .avatar{
    width: 25px;
  }
  
  .star-group{
    margin-left: 10px;
  }
  
  .star{
    width: 15px;
  }
  
  .time{
    font-size: 14px;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .comment-text{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
  }
  
  .fourth-content{
    margin-top: 10px;
  }

  .question-2{
    padding: 4px 6px 0px 6px;
    margin-left: 3px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .group-card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 30px;
    margin-top: 15px;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-card::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }

  .carousel-arrow{
    font-size: 25px;
    color: #8b8686;
    margin-top: 20px;
  }

  .carousel-arrow.hidden {
    display: none; 
  }

  .left-arrow {
    margin-right: 10px;
  }
  
  .right-arrow {
    margin-left: 10px;
  }
  
  .card {
    flex: 0 0 auto; /* 確保卡片不縮放 */
    width: 150px;
  }
  
  .card-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .card-body{
    height: 36.8px;
    padding: 5px 0px 5px 0px;
  }
  
  .card-text{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #2E2E2E;
    text-decoration-line: none;
  }
  
  .fifth-content{
    margin-top: 10px;
  }

  .carousel-container-tag{
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .carousel-arrow-tag{
    font-size: 18px;
    color: #8b8686;
    margin-top: 22px;
  }

  .carousel-arrow-tag.hidden {
    display: none; 
  }

  .left-arrow-2 {
    margin-right: 10px;
  }
  
  .right-arrow-2 {
    margin-left: 10px;
  }
  
  .tag-group{
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    gap: 23px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-tag::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }
  
  .tag{
    min-width: 100px;
    height: 34px;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto; /* 確保卡片不縮放 */
  }
  
  .tag-text{
    color: #383838;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    text-decoration-line: none;
  }
  
  .tag-img{
    margin-top: 2px;
    margin-right: 3px;
    color: #374957;
    font-size: 16px;
  }
  
  .bottom{
    background-color: #485465;
    height: 90px;
    color: white;
    padding: 15px 20px 20px 25px;
    font-size: 14px;  
  }
}

/*小尺寸顯示*/
@media (min-width: 535px) and (max-width: 736px) {
  .section-content{
    box-sizing: border-box;
    width: 98%;
    max-width: 1540px;
    margin: 0 auto;
  }

  .primary-content{
    margin-top: 10px;
    box-sizing: border-box;
  }

  .store-title{
    font-weight: bold;
    font-size: 30px;
  }

  .love-group{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .type-rating-status-group{
    margin-top: 5px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 7px; 
  }

  .store-type{
    background-color: #A3A3A3;
    min-width: 90.6px;
    text-align: center;
    padding: 7px 1px 7px 1px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
  }

  .store-type-img{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  
  .rating{
    font-size: 38.4px;
    color: #AC3535;
    font-weight: bold;
    margin-top: 4px;
    font-size: 25px;
  }
  
  .rating-text{
    font-size: 14px;
    color: #AC3535;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .popover-header{
    font-size: 14px;
  }
  
  .popover-body{
    font-size: 14px;
    text-align: end;
  }

  hr{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .other-store-rating{
    color: #A3A3A3;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .other-store{
    max-width: 792.5px;
    max-height: 80px;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    padding: 7px 10px 5px 15px;
  }

  .other-store-display{
    display: flex;
    flex-direction: row;
  }

  .other-store-group{
    display: flex;
    align-items: baseline;  
    text-decoration-line: none;
  }

  .store-name{
    font-size: 14px;
    color: #374957;
  }

  .other-rating{
    color: #AC3535;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .other-map{
    margin: 0;
  }

  .address, .address-img{
    color: #374957;
    font-size: 14px;
    text-decoration: none;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .collect{
    color: #374957;
    font-size: 14px;
    text-align: right;
    width: 40px;
  }
  
  .status{
    color: #2C901B;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  
  .status-img{
    font-size: 14px;
    margin-right: 5px;
  }
  
  .update{
    margin-top: 7px;
    color: #2E2E2E;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .love-img{
    width: 26px;
  }
  
  .introduction{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #343333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
  }
  
  .secondary-content{
    margin-top: 10px;
  }
  
  .first-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  
  #map{
    width: 100%;
    height: 215px;
    border-radius: 6.83px;
  }
  
  .legend, .leaflet-right, .leaflet-left, #locateButton{
    display: none;
  }
  
  .title-group{
    display: flex;
    align-items: center;
  }
  
  .group-title-img{
    width: 40px;
    height: 35px;
    font-size: 29px;
    color: #848484;
  }
  
  .group-title{
    font-weight: bold;
    white-space: nowrap;
    font-size: 23px;
    margin: 0;
  }
  
  .second-row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .anaysis{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    min-width: 265px;
    padding: 10px 20px 15px 30px;
    white-space: nowrap;
  }
  
  .progress-group-text{
    margin-top: 15px;
    font-size: 16px;
  }
  
  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .progress{
    height: 20px;
  }
  
  .service{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 250px;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .service-item-group{
    margin-top: 8px;
    overflow: scroll;
    overflow-x: hidden;
    height: 198px;
  }
  
  .service-group{
    color: #586066;
  }
  
  .item-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 自動適應列數 */
    gap: 5px; 
  }
  
  .service-title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .service-item{
    display: flex;
  }
  
  .item-img{
    color: #374957;
    margin-right: 5px;
    font-size: 16px;
  }
  
  .item-text{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
  
  .store-introduction{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .store-introduction-group{
    margin-top: 15px;
    list-style: none;
  }
  
  .introduction-title{
    font-weight: bold;
    font-size: 18px;
  }
  
  .introduction-title::before {
    content: '▪'; 
    margin-right: 9px; 
  }
  
  .introduction-item{
    list-style: none;
    text-indent: 16px;
    color: #404040;
    white-space: wrap;
    font-size: 16px;
  }
  
  .tertiary-content{
    margin-top: 30px;
  }
  
  .comment-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

  }
  
  .sample-group{
    background-color: #F9F9F9;
    border-color: #A3A3A3;
    white-space: nowrap;
  }
  
  .sample-button{
    background-color: #F9F9F9;
    color: black;
    border-color: #A3A3A3;
    font-size: 16px;
  }
  
  .custom-tooltip1{
    --bs-tooltip-bg: #A3A3A3;
    --bs-tooltip-color: white;
    --bs-tooltip-font-size: 16px;
  }

  .question{
    padding: 6px;
  }

  .question-img{
    color: #6d6d6d;
    font-size: 18px;
  }

  .input-group-text, .form-select{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .filter-button{
    font-size: 16px;
    width: 170px;
    height: 45px;
    margin: 0;
  }

  .fi-sr-filter-list{
    padding-top: 5px;
    color: #6d6d6d;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }
  
  .dropdown-item{
    font-size: 16px;
  }
  
  .keyword-title{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
    gap: 28px;
  }
  
  .keyword-title-text{
    margin: 0;
    color: #5A5A5A;
    font-weight: bold;
    font-size: 20px;
  }
  
  .group-gb{
    display: flex;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .good-side{
    background-color: #f1fff5;
  }

  .bad-side{
    background-color: #fff3f3;
  }

  .neutral-side{
    background-color: #fefbf2f5;
  } 

  .middle-side{
    background-color: #f8f8ff;
  }
  
  .title-gb{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #5A5A5A;
    width: 55px;
  }
  
  .keyword-arrow{
    color: #5A5A5A;
    font-size: 20px;
    margin-top: 3px;
  }
  
  .group-keyword {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
  }
  
  .comment-good, .comment-bad, .comment-neutral, .comment-middle {
    border: 2px solid;
    min-width: 75px;
    height: 33px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    white-space: nowrap;
  }
  
  .comment-good {
    border-color: #5FA74D;
    color: #5FA74D;
  }
  
  .comment-bad {
    border-color: #BC4763;
    color: #BC4763;
  }
  
  .comment-neutral{
    border-color: #ad894f;
    color: #ad894f;
  }

  .comment-middle{
    border-color: #51519b;
    color: #51519b;
  }

  .sort-button{
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: 0px 0px 8px;
  }

  .fi-sr-sort-amount-down{
    padding-top: 5px;
    color: #6d6d6d;
  }
  
  .comment-group{
    margin-top: 5px;
    max-height: 530px;
    overflow-y: scroll;
    padding-right: 5px;
  }
  
  .comment-item{
    background-color: #F9F9F9;
    padding: 10px 10px 13px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .comment-information{
    display: flex;
    align-items: flex-start;
  }
  
  .avatar{
    width: 25px;
  }
  
  .star-group{
    margin-left: 10px;
  }
  
  .star{
    width: 15px;
  }
  
  .time{
    font-size: 14px;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .comment-text{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
  }
  
  .fourth-content{
    margin-top: 25px;
  }

  .question-2{
    padding: 4px 6px 0px 6px;
    margin-left: 3px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .group-card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 30px;
    margin-top: 15px;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-card::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }

  .carousel-arrow{
    font-size: 25px;
    color: #8b8686;
    margin-top: 20px;
  }

  .carousel-arrow.hidden {
    display: none; 
  }

  .left-arrow {
    margin-right: 10px;
  }
  
  .right-arrow {
    margin-left: 10px;
  }
  
  .card {
    flex: 0 0 auto; /* 確保卡片不縮放 */
    width: 150px;
  }
  
  .card-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .card-body{
    height: 36.8px;
    padding: 5px 0px 5px 0px;
  }
  
  .card-text{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #2E2E2E;
    text-decoration-line: none;
  }
  
  .fifth-content{
    margin-top: 25px;
  }

  .carousel-container-tag{
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .carousel-arrow-tag{
    font-size: 20px;
    color: #8b8686;
    margin-top: 27px;
  }

  .carousel-arrow-tag.hidden {
    display: none; 
  }

  .left-arrow-2 {
    margin-right: 10px;
  }
  
  .right-arrow-2 {
    margin-left: 10px;
  }
  
  .tag-group{
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    gap: 23px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-tag::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }
  
  .tag{
    min-width: 100px;
    height: 34px;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto; /* 確保卡片不縮放 */
  }
  
  .tag-text{
    color: #383838;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    text-decoration-line: none;
  }
  
  .tag-img{
    margin-top: 2px;
    margin-right: 3px;
    color: #374957;
    font-size: 16px;
  }
  
  .bottom{
    background-color: #485465;
    height: 90px;
    color: white;
    padding: 15px 20px 20px 25px;
    font-size: 14px;  
  }
}

/*手機螢幕尺寸顯示*/
@media (max-width: 535px) {
  .section-content{
    box-sizing: border-box;
    width: 98%;
    max-width: 1540px;
    margin: 0 auto;
  }

  .primary-content{
    margin-top: 10px;
    box-sizing: border-box;
  }

  .store-title{
    font-weight: bold;
    font-size: 30px;
  }

  .love-group{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .type-rating-status-group{
    margin-top: 5px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 7px; 
  }

  .store-type{
    background-color: #A3A3A3;
    min-width: 90.6px;
    text-align: center;
    padding: 7px 1px 7px 1px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
  }

  .store-type-img{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  
  .rating{
    font-size: 38.4px;
    color: #AC3535;
    font-weight: bold;
    margin-top: 4px;
    font-size: 25px;
  }
  
  .rating-text{
    font-size: 14px;
    color: #AC3535;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .popover-header{
    font-size: 14px;
  }
  
  .popover-body{
    font-size: 14px;
    text-align: end;
  }

  hr{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .other-store-rating{
    color: #A3A3A3;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .other-store{
    max-width: 792.5px;
    max-height: 80px;
    border: 1px solid #A3A3A3;
    border-radius: 3px 10px;
    padding: 7px 10px 5px 15px;
  }

  .other-store-display{
    display: flex;
    flex-direction: row;
  }

  .other-store-group{
    display: flex;
    align-items: baseline;  
    text-decoration-line: none;
  }

  .store-name{
    font-size: 14px;
    color: #374957;
  }

  .other-rating{
    color: #AC3535;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .other-map{
    margin: 0;
  }

  .address, .address-img{
    color: #374957;
    font-size: 14px;
    text-decoration: none;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .collect{
    color: #374957;
    font-size: 14px;
    text-align: right;
    width: 40px;
  }
  
  .status{
    color: #2C901B;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  
  .status-img{
    font-size: 14px;
    margin-right: 5px;
  }
  
  .update{
    margin-top: 7px;
    color: #2E2E2E;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .love-img{
    width: 26px;
  }
  
  .introduction{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #343333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
  }
  
  .secondary-content{
    margin-top: 10px;
  }
  
  .first-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  
  #map{
    width: 100%;
    height: 215px;
    border-radius: 6.83px;
  }
  
  .legend, .leaflet-right, .leaflet-left, #locateButton{
    display: none;
  }
  
  .title-group{
    display: flex;
    align-items: center;
  }
  
  .group-title-img{
    width: 40px;
    height: 35px;
    font-size: 29px;
    color: #848484;
  }
  
  .group-title{
    font-weight: bold;
    white-space: nowrap;
    font-size: 23px;
    margin: 0;
  }
  
  .second-row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .anaysis{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    min-width: 265px;
    padding: 10px 20px 15px 30px;
    white-space: nowrap;
  }
  
  .progress-group-text{
    margin-top: 15px;
    font-size: 16px;
  }
  
  .progress-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  
  .progress{
    height: 20px;
  }
  
  .service{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    min-width: 250px;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .service-item-group{
    margin-top: 8px;
    overflow: scroll;
    overflow-x: hidden;
    height: 198px;
  }
  
  .service-group{
    color: #586066;
  }
  
  .item-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 自動適應列數 */
  }
  
  .service-title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .service-item{
    display: flex;
  }
  
  .item-img{
    color: #374957;
    margin-right: 5px;
    font-size: 16px;
  }
  
  .item-text{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
  
  .store-introduction{
    background-color: #F9F9F9;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    padding: 10px 5px 15px 30px;
    white-space: nowrap;
  }
  
  .store-introduction-group{
    margin-top: 15px;
    list-style: none;
  }
  
  .introduction-title{
    font-weight: bold;
    font-size: 18px;
  }
  
  .introduction-title::before {
    content: '▪'; 
    margin-right: 9px; 
  }
  
  .introduction-item{
    list-style: none;
    text-indent: 16px;
    color: #404040;
    white-space: wrap;
    font-size: 16px;
  }
  
  .tertiary-content{
    margin-top: 30px;
  }
  
  .comment-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .sample-group{
    background-color: #F9F9F9;
    border-color: #A3A3A3;
    white-space: nowrap;
  }
  
  .sample-button{
    background-color: #F9F9F9;
    color: black;
    border-color: #A3A3A3;
    font-size: 16px;
  }
  
  .custom-tooltip1{
    --bs-tooltip-bg: #A3A3A3;
    --bs-tooltip-color: white;
    --bs-tooltip-font-size: 16px;
  }

  .question{
    padding: 6px;
  }

  .question-img{
    color: #6d6d6d;
    font-size: 18px;
  }

  .input-group-text, .form-select{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .filter-button{
    font-size: 16px;
    width: 170px;
    height: 45px;
    margin: 0;
  }
  
  .fi-sr-filter-list{
    padding-top: 5px;
    color: #6d6d6d;
  }

  .form-floating>.form-select{
    padding-top: 26px;
    padding-bottom: 10px;
    height: 58px;
    font-size: 16px;
  }

  .dropdown-item{
    font-size: 16px;
  }
  
  .keyword-title{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
    gap: 28px;
  }
  
  .keyword-title-text{
    margin: 0;
    color: #5A5A5A;
    font-weight: bold;
    font-size: 20px;
  }
  
  .group-gb{
    display: flex;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .good-side{
    background-color: #f1fff5;
  }

  .bad-side{
    background-color: #fff3f3;
  }

  .neutral-side{
    background-color: #fefbf2f5;
  } 

  .middle-side{
    background-color: #f8f8ff;
  }
  
  .title-gb{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #5A5A5A;
    width: 55px;
  }
  
  .keyword-arrow{
    color: #5A5A5A;
    font-size: 20px;
    margin-top: 3px;
  }
  
  .group-keyword {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
  }
  
  .comment-good, .comment-bad, .comment-neutral, .comment-middle {
    border: 2px solid;
    min-width: 75px;
    height: 33px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    white-space: nowrap;
  }
  
  .comment-good {
    border-color: #5FA74D;
    color: #5FA74D;
  }
  
  .comment-bad {
    border-color: #BC4763;
    color: #BC4763;
  }
  
  .comment-neutral{
    border-color: #ad894f;
    color: #ad894f;
  }

  .comment-middle{
    border-color: #51519b;
    color: #51519b;
  }

  .sort-button{
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: 0px 0px 8px;
  }

  .fi-sr-sort-amount-down{
    padding-top: 5px;
    color: #6d6d6d;
  }
  
  .comment-group{
    margin-top: 5px;
    max-height: 530px;
    overflow-y: scroll;
    padding-right: 5px;
  }
  
  .comment-item{
    background-color: #F9F9F9;
    padding: 10px 10px 13px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .comment-information{
    display: flex;
    align-items: flex-start;
  }
  
  .avatar{
    width: 25px;
  }
  
  .star-group{
    margin-left: 10px;
  }
  
  .star{
    width: 15px;
  }
  
  .time{
    font-size: 14px;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .comment-text{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
  }
  
  .fourth-content{
    margin-top: 25px;
  }

  .question-2{
    padding: 4px 6px 0px 6px;
    margin-left: 3px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .group-card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 30px;
    margin-top: 15px;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-card::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }

  .carousel-arrow{
    font-size: 25px;
    color: #8b8686;
    margin-top: 20px;
  }

  .carousel-arrow.hidden {
    display: none; 
  }

  .left-arrow {
    margin-right: 10px;
  }
  
  .right-arrow {
    margin-left: 10px;
  }
  
  .card {
    flex: 0 0 auto; /* 確保卡片不縮放 */
    width: 150px;
  }
  
  .card-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .card-body{
    height: 36.8px;
    padding: 5px 0px 5px 0px;
  }
  
  .card-text{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #2E2E2E;
    text-decoration-line: none;
  }
  
  .fifth-content{
    margin-top: 25px;
  }

  .carousel-container-tag{
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .carousel-arrow-tag{
    font-size: 20px;
    color: #8b8686;
    margin-top: 27px;
  }

  .carousel-arrow-tag.hidden {
    display: none; 
  }

  .left-arrow-2 {
    margin-right: 10px;
  }
  
  .right-arrow-2 {
    margin-left: 10px;
  }
  
  .tag-group{
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    gap: 23px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE和Edge隱藏滾動條 */
    scrollbar-width: none;  /* Firefox隱藏滾動條 */
    scroll-behavior: smooth; /* 平滑滾動效果 */
  }

  .group-tag::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera 隱藏滾動條 */
  }
  
  .tag{
    min-width: 100px;
    height: 34px;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto; /* 確保卡片不縮放 */
  }
  
  .tag-text{
    color: #383838;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    text-decoration-line: none;
  }
  
  .tag-img{
    margin-top: 2px;
    margin-right: 3px;
    color: #374957;
    font-size: 16px;
  }
  
  .bottom{
    background-color: #485465;
    height: 90px;
    color: white;
    padding: 15px 20px 20px 25px;
    font-size: 14px;  
  }
}

@media (max-width: 595px) {
  .comment-good, .comment-bad, .comment-neutral, .comment-middle {
    border: 2px solid;
    min-width: 75px;
    height: 33px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}
