.head{
    background-color: #485465; 
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    text-align: left;
    padding: 20px ;
    max-width: 100%;
}

.content{
    width: 600px;
    margin-left: auto;
    margin-right: 25px;
    border: 3px solid #EFEFEF;
    line-height: 30px;
    vertical-align: top;
}

.box1{ 
    position: relative;
    width: 320px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;   
}

.box2{ 
    position: relative;
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    text-align: right;
}

.box3{ 
    position: relative;
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    text-align: right;
}

.title{
    font-size: 15px;
    font-weight: bold;
}

.box1 img{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: auto;
    float: right;
    object-fit: cover;
}

.img1{
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.map-margin{
    max-width: 1150px;
    max-height: auto;
    border: 3px solid;
    margin: 10px 10px 10px 30px;
}

.map{
    background-color: #EBEBEB;
    width: 100%;
    height: 700px;
    text-align: center;
}