.head{
    background-color: #485465; 
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    height: 70px;
    text-align: left;
    padding: 20px ;
    max-width: 100%;
}

.content-up{
    width: 600px;
    margin-left: auto;
    margin-right: 8%;
    border: 3px solid #EFEFEF;
    line-height: 30px;
    vertical-align: top;
}

.box1{ 
    position: relative;
    width: 320px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
}

.box2{ 
    position: relative;
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    text-align: right;
}

.box3{ 
    position: relative;
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    text-align: right;
}

.title{
    font-size: 15px;
    font-weight: bold;
}

.box1 img{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: auto;
    float: right;
    object-fit: cover;
}

.img1{
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.content{
    width: auto;
    height: auto;
    vertical-align: top;
    display: flex;
}

.map-margin{
    width: 1050px;
    max-height: auto;
    border: 1px solid;
    margin-left: 1%;
    display: inline-block;
}

.map{
    background-color: #EBEBEB;
    width: 100%;
    height: 650px;
    text-align: center;
}

.search-result{
    width: 750px;
    height: auto;
    border: 1px solid;
    margin-left: auto;
    margin-right: 2%;
    display: inline-block;
}

.search-column{
    width: 100%;
    height: 650px;
    border: 1px black ;
}

.fixed-bottom{
    background-color: #485465;
    padding: 13px 13px 13px 50px;
    color: #EBEBEB;
    font-size: 15px;
}