.head{
    background-color: #485465; 
    color: aliceblue;
    font-weight: bold;
    font-size: 1.3em;
    height: 3em;
    text-align: left;
    padding: 1%;
    max-width: 100%;
    
}

.team-icon{
    width: 2em;
    height: auto;
    float: left;
    position: relative;
    bottom:  15%;
}

.Gutters-icon{
    width: 1.25em;
    height: auto;
    vertical-align: auto;
    position: relative;
}

.header-icon2{
    width: 1.5em;
    height: auto;
    margin-top: 0.625em;
}

.offcanvas-body{
    position: relative;
    width: 700px;
}

.Options{
    margin: auto;
    width: 170px;
    text-align: center;
    font-size: 25px;
    color: white;
    list-style-type: none;
    text-align-last: justify;
    line-height: 5;

}

.Options-icon,.Options2-icon{
    width: 20px;
    margin: 0px 5px 0px 0px;
}

.Options2{
    border-top: 2px solid white;
    font-size: 25px;
    color: white;
    list-style-type: none;
    text-align: center;
    line-height: 5;
}

.content{
    width: auto;
    height: auto;
    vertical-align: top;
    display: flex;
}

.map-margin{
    width: 45%;
    height: 50%;
    border: 1px solid;
    margin: 1.5%;
    margin-left: 3%;
    display: inline-block;
}

.map{
    background-color: #EBEBEB;
    width: 100%;
    height: 33em;
    text-align: center;
}

.fixed-bottom{
    background-color: #485465;
    padding: 0.9em;
    padding-left: 4.5em;
    color: #EBEBEB;
    font-size: x-small;
    line-height: 1.5;
}