html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background-galaxy.jpg'); /* 背景圖片 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

/* 大螢幕（例如桌面電腦） */
@media (min-width: 1600px){
    .login-container {
        width: 60%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-radius: 10px;
    }

    #title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 3vh;
    }

    .description_text {
        font-size: 28px;
        margin-bottom: 1.5vh;
    }

    .next_area {
        display: flex;
        justify-content: flex-end;
        margin-top: 2vh;
    }

    #skip_button {
        margin-right: 1vw;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 7vh;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 10px;
        font-size: 28px;
        font-weight: bold;
    }

    /* 滑動條 */
    .slider-container {
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: bold;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .slider-container label {
        width: 7vw;
    }
    
    .slider-container span {
        margin-left: 1vw;
    }

    .slider-container input[type="range"] {
        width: 25vw;
        height: 3.5vh; /* 軌道高度 */
        -webkit-appearance: none; /* 移除滑動條預設樣式 */
        appearance: none; /* 移除滑動條預設樣式 */
        outline: none; /* 移除滑動條預設藍色外框 */
        background: #D9D9D9; /* 軌道底色 */
        border-radius: 50px; /* 軌道圓角 */
    }

    /* Chrome, Safari, Edge, Opera */
    .slider-container input[type="range"]::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
        -webkit-appearance: none; /* 移除預設樣式(Chrome, Safari) */
        appearance: none; /* 移除預設樣式(Edge, Opera) */
        background: #000466; /* 滑塊顏色 */ 
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* Firefox */
    .slider-container input[type="range"]::-moz-range-thumb {
        width: 30px;
        height: 30px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* IE, Edge */
    .slider-container input[type="range"]::-ms-thumb {
        width: 30px;
        height: 30px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
}

/* 中等螢幕（筆記型電腦） */
@media (min-width: 1025px) and (max-width: 1599px) {
    .login-container {
        width: 50%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 10px;
    }

    #title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 3vh;
    }

    .description_text {
        font-size: 16px;
        margin-bottom: 1.5vh;
    }

    .next_area {
        display: flex;
        justify-content: flex-end;
        margin-top: 2vh;
    }

    #skip_button {
        margin-right: 1vw;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8vw;
        height: 7vh;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    /* 滑動條 */
    .slider-container {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .slider-container label {
        width: 7vw;
    }
    
    .slider-container span {
        margin-left: 1vw;
    }

    .slider-container input[type="range"] {
        width: 25vw;
        height: 3.5vh; /* 軌道高度 */
        -webkit-appearance: none; /* 移除滑動條預設樣式 */
        appearance: none; /* 移除滑動條預設樣式 */
        outline: none; /* 移除滑動條預設藍色外框 */
        background: #D9D9D9; /* 軌道底色 */
        border-radius: 50px; /* 軌道圓角 */
    }

    /* Chrome, Safari, Edge, Opera */
    .slider-container input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        -webkit-appearance: none; /* 移除預設樣式(Chrome, Safari) */
        appearance: none; /* 移除預設樣式(Edge, Opera) */
        background: #000466; /* 滑塊顏色 */ 
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* Firefox */
    .slider-container input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* IE, Edge */
    .slider-container input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
}

/* 中等螢幕（平板電腦） */
@media (min-width: 768px) and (max-width: 1024px) {
    .login-container {
        width: 70%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 10px;
    }

    #title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 2vh;
    }

    .description_text {
        font-size: 18px;
        margin-bottom: 1.5vh;
    }

    .next_area {
        display: flex;
        justify-content: flex-end;
        margin-top: 2vh;
    }

    #skip_button {
        margin-right: 2vw;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        height: 5vh;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    /* 滑動條 */
    .slider-container {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .slider-container label {
        width: 12vw;
    }
    
    .slider-container span {
        margin-left: 2vw;
    }

    .slider-container input[type="range"] {
        width: 35vw;
        height: 2.5vh; /* 軌道高度 */
        -webkit-appearance: none; /* 移除滑動條預設樣式 */
        appearance: none; /* 移除滑動條預設樣式 */
        outline: none; /* 移除滑動條預設藍色外框 */
        background: #D9D9D9; /* 軌道底色 */
        border-radius: 50px; /* 軌道圓角 */
    }

    /* Chrome, Safari, Edge, Opera */
    .slider-container input[type="range"]::-webkit-slider-thumb {
        width: 24px;
        height: 24px;
        -webkit-appearance: none; /* 移除預設樣式(Chrome, Safari) */
        appearance: none; /* 移除預設樣式(Edge, Opera) */
        background: #000466; /* 滑塊顏色 */ 
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* Firefox */
    .slider-container input[type="range"]::-moz-range-thumb {
        width: 24px;
        height: 24px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* IE, Edge */
    .slider-container input[type="range"]::-ms-thumb {
        width: 24px;
        height: 24px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
}

/* 小螢幕（手機） */
@media (max-width: 767px){
    .login-container {
        width: 60%;
        height: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 10px;
    }

    #title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2vh;
    }

    .description_text {
        font-size: 14px;
        margin-bottom: 1.5vh;
    }

    .next_area {
        display: flex;
        justify-content: flex-end;
        margin-top: 2vh;
    }

    #skip_button {
        margin-right: 3vw;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
        height: 5vh;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 40px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
        border: transparent;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    /* 滑動條 */
    .slider-container {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .slider-container label {
        width: 18vw;
    }
    
    .slider-container span {
        margin-left: 2vw;
    }

    .slider-container input[type="range"] {
        width: 40vw;
        height: 2vh; /* 軌道高度 */
        -webkit-appearance: none; /* 移除滑動條預設樣式 */
        appearance: none; /* 移除滑動條預設樣式 */
        outline: none; /* 移除滑動條預設藍色外框 */
        background: #D9D9D9; /* 軌道底色 */
        border-radius: 50px; /* 軌道圓角 */
    }

    /* Chrome, Safari, Edge, Opera */
    .slider-container input[type="range"]::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        -webkit-appearance: none; /* 移除預設樣式(Chrome, Safari) */
        appearance: none; /* 移除預設樣式(Edge, Opera) */
        background: #000466; /* 滑塊顏色 */ 
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* Firefox */
    .slider-container input[type="range"]::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
    
    /* IE, Edge */
    .slider-container input[type="range"]::-ms-thumb {
        width: 16px;
        height: 16px;
        background: #000466; /* 滑塊顏色 */
        border-radius: 50%; /* 圓形滑塊 */
        cursor: pointer;
    }
}